.container{
    display: flex;

}

.info {
    width: 33%;
    display: flex;
    flex-direction: column; /* Alinea los elementos verticalmente */

}
.pf {
    width: 50%; 
    height: auto;
    border-radius: 50%;
    align-self: center;
}
.personalInfo{
    text-align: center;
}
.academico{
    width: 33%;
    padding: 20px;
    border-left: solid 1px ;

}
p.fecha{
    text-align: right;
    font-size: 10px;
}

.academico h2{
    text-align: center;
}